<UploadAvatar />

<div class="add-emp-inputs">

  <div>
    <label for="firstName">First Name<span class="required">*</span></label>
    {{input type="text" id="firstName" value=model.firstName }}
    
  </div>

  <div>
    <label for="lastName">Last Name<span class="required">*</span></label>
    {{input type="text" id="lastName"  value=model.lastName }}
  </div>

  <div>
    <label for="email">Email<span class="required">*</span></label>
    {{input type="text" id="email" value=model.email }}
  </div>

  <div>
    <label for="designation">Designation</label>
    {{input type="text" id="designation" value=model.designation }}
  </div>

  <div>
    <label for="ember251">Date of joining</label>
    {{bootstrap-datepicker
      value=expiresAt
      format="yyyy-mm-dd"
      todayHighlight=true
      autoclose=true
    }}
  </div>

  <div class="select-team">
    <label for="ember300">Team</label>
    <PowerSelect
      @selected={{this.destination}}
      @options={{this.myTeamMembers}}
      @onchange={{action "chooseDestination"}}
      as |name|
    >
      {{name}}
    </PowerSelect>
  </div>

</div>